@model Order

<h3 align="center">Оформление заказа</h3>
<div class="row">
    <style>
        form {
            width: 300px;
            margin: 0 auto;
        }

        .calendar td.disabled {
            color: #ccc;
            cursor: default;
        }
    </style>

    <form align="center" asp-action="Checkout" method="post" class="form-horizontal">
        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="date"></label>
            <div>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="hours"></label>
            <div>
                <input asp-for="hours" class="form-control" />
                <span asp-validation-for="hours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="people"></label>
            <div>
                <input asp-for="people" class="form-control" />
                <span asp-validation-for="people" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="name"></label>
            <div>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="surname"></label>
            <div>
                <input asp-for="surname" class="form-control" />
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="phone"></label>
            <div>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="email"></label>
            <div>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
        </div>
        <br />
        <input class="btn btn-info" type="submit" value="Завершить заказ" />
    </form>
</div>

