<h3>Благодарим за оформление заказа!</h3>
<p>Ожидайте звонка нашего менеджера для подтверждения.</p>
<p>Мы маленькая компания и работаем по предоплате 50% во избежание убытков.</p>
<p>Реквизиты для оплаты половины суммы вашего заказа придут вам по СМС.</p>
<p>Спасибо за понимание!</p>
<img src="~/img/thanks.jpg" alt="Thanks" width="200">