@{ ViewBag.Title = "Страница оплаты"; }
<h2>Оплата заказа </h2>

<div>
    <form method="GET" action="https://my.qiwi.com/Anastasyia-ZhDoAJXDy6R" target="_blank">
        <input name="label" value="oder" type="hidden">
        <input name="receiver" value="410011174743222" type="hidden">
        <input name="quickpay-form" value="shop" type="hidden">
        <input type="hidden" name="targets" value="Оплата заказа">
        <label for="sum">Способ оплаты: </label><br />
        <input class="btn btn-info" type="submit" name="submit-button" value="Оплатить">
        <input name="successURL" value="/Order/Complete" type="hidden">
        <input name="quickpay-back-url" value="https://my.qiwi.com/Anastasyia-ZhDoAJXDy6R" type="hidden">
    </form>
</div>

