<h1>Каталог</h1>
<h3>@Model.currGenre</h3>
<div class="row mt-3 ">
    @{
        foreach (Movie movie in Model.allMovies)
        {
            @Html.Partial("AllMovies", movie)
        }
    }
</div>
