@model HomeViewModel

<center><h1>АнтиКинотеатр</h1></center>
    <br />
    <center>
        <p>
            АнтиКинотеатр "World" - антикинотеатр в Томске, где в компании самых близких людей
            или просто знакомых можно отлично провести время. В Вашем распоряжении теплые пледы и
            уютные диваны, чай, кофе, коллекция песен, игровые приставки,
            бесконечное количество фильмов и все это в нашем заведении.
        </p>
        <p>
            Хотите сделать приятное любимому или своей любимой, но пока не решили как и где в пройдет
            Ваше романтическое свидание в Томске. Добро пожаловать к нам! Уютная и уединенная
            атмосфера нашего кинотеатра с диванами подарит не мало ярких и запоминающихся мгновений
            в Ваших отношениях. Для Вас мы готовы предоставить наш кинотеатр для двоих и наполнить
            его атмосферой тепла, уюта, романтики и любви.
        </p>
        <br />
        <h3>Прайс</h3>
        <p>
            Вы оплачиваете лишь комнату, а не количество человек!
        </p>
        <p>
            1 час - 400 рублей <br />
            2 часа - 800 рублей <br />
            3 часа - 1200 рублей
        </p>
    </center>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr align="center">
                <th><h3>Караоке</h3></th>
                <th><h3>Фильмы</h3></th>
                <th><h3>Игры</h3></th>>
            </tr>
            <tr align="center">
                <th><img src="~/img/karaoke.png" alt="karaoke" width="200"></th>
                <th><img src="~/img/film.png" alt="film" width="200"></th>
                <th><img src="~/img/game.png" alt="game" width="200"></th>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr align="center">
                <th>Профессиональное караоке без<br>очередей к микрофону</th>
                <th>Просмотр фильмов с дисков, кассет и USB<br>на экране или с помощью проектора</th>
                <th>Все игры из библиотеки<br>XBOX Game Pass</th>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <center><h3>Как к нам добраться</h3></center>

        <center>
            <p>Мы находимся всего в 600 метрах ТЦ "Лето"</p>

            <p>ул. Вершинина 74 стр.1</p>

            <p>Нужную информацию уточняйте по телефону:</p>

            <p>+7(999)999-99-99</p>
        </center>
    </div>
