@model HomeViewModel

<h1 align="center">Лучшие фильмы</h1>
<div class="row mt-5 mb-2 row justify-content-md-center">
    @{
        foreach (Movie movie in Model.popMovies)
        {
            @Html.Partial("AllMovies", movie)
        }
    }
</div>